<?xml version="1.0" encoding="utf-8"?>
        <activity android:name=".activity.NotificationActivity"></activity>
                  <activity android:name=".activity.HoamActivity"></activity>
        <activity android:name=".activity.Regis  <service
<manifest xmlns:android="http://schemas.a
        <activity android:name=".activity.Nd:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
                  and  <service
        <activity android:name=".activity.NotificationActivity"></activity>
                  <activity android:name=".activity.Hd:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
                  and  <serviced:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
                  and  <service
        <activity android:name=".activity.NotificationActivity"></activity>
                  <activity android:name=".activity.HoamActivity"></activity>
        <activity android:name=".activity.Regis  <service
        <activity android:name=".activity.NotificationActivity"></activity>
                  <activity android:name=".activity.HoamActivity"></activity>
        <activity android:name=".activity.Regis  <service
            android:name=".service.DownloadDataServic
        <activity android:name=".activity.NotificationAct
        <activity android:name=".activityd:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
                  and  <service
        <activity android:name=".activity.NotificationActivity"></activity>
                  <activity android:name=".activity.HoamActivity"></activity>
        <activity android:name=".activity.Regis  <service
        <activity android:name=".activity.NotificationActivity"></activity>
                  <activity android:name=".activity.HoamActivity"></activity>
        <activity android:name=".activity.Regis  <service
            android:name=".service.DownloadDataServic
        <activity android:name=".activity.NotificationAct
        <activity android:name=d:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
                  and  <service
        <activity android:name=".activity.NotificationActivity"></activity>
                  <activity android:name=".activity.HoamActivity"></activity>
        <activity android:name=".activity.Regis  <service
        <activity android:name=".activity.NotificationActivity"></activity>
                  <activity android:name=".activity.HoamActivity"></activityd:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
                  and  <service
        <activity android:name=".activity.NotificationActivity"></activity>
                  <activity android:name=".activity.HoamActivity"></activity>
        <activity android:name=".activity.Regis  <service
        <activity android:name=".activity.NotificationActivity"></activity>
                  <activity android:name=".activity.HoamActivity"></activity>
        <activity android:name=".activity.Regis  <service
            android:name=".service.DownloadDataServic
        <activity android:name=".activity.NotificationAct
        <activity android:name=".activity.NotificationActivity"></activity>>
        <activity android:name=".activity.Regis  <service
            android:name=".service.DownloadDataServic
        <activity android:name=".activity.NotificationAct
        <activity android:name=".activity.NotificationActivity"></activity>".activity.NotificationActivity"></activity>.NotificationActivity"></activity>
        <activity android:name=".activity.NotificationActivity"></activity>
                  <activity android:name=".activity.HoamActivity"></activity>
        <activity android:name=".activity.Regis  <service
        <activity android:name=".activity.NotificationActivity"></activity>
                  <activity android:name=".activity.HoamActivity"></activity>
        <activity android:name=".activity.Regis  <service
            android:name=".service.DownloadDataServic
        <activity android:name=".activity.NotificationActd:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
                  and  <service
        <activity android:name=".activity.NotificationActivity"></activity>
                  <activity android:name=".activity.HoamActivity"></activity>
        <activity android:name=".activity.Regis  <service
        <activity android:name=".activity.NotificationActivity"></activity>
                  <activity android:name=".activity.HoamActivity"></activity>
        <activity android:name=".activity.Regis  <service
            android:name=".service.DownloadDataServic
        <activity android:name=".activity.NotificationAct
        <activity android:name=".activity.NotificationActivity"></activity>
        <activity android:name=".activity.NotificationActivity"></activity>oamActivity"></activity>
        <activity android:name=".activity.Regis  <service
        <activity android:name=".activity.NotificationActivity"></activity>
                  <activity android:name=".activity.HoamActivity"></activity>
        <activity android:name=".activity.Regis  <service
            ad:allowBackup="true"d:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
                  and  <service
        <activity android:name=".activity.NotificationActivity"></activity>
                  <activity android:name=".activity.HoamActivity"></activity>
        <activity android:name=".activity.Regis  <service
        <activity android:name=".activity.NotificationActivity"></activity>
                  <activity android:name=".activity.HoamActivity"></activity>
        <activity android:name=".activity.Regis  <service
            android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
                  and  <service
        <activity android:name=".activity.NotificationActivity"></activity>
                  <activity android:name=".activity.HoamActivity"></activity>
        <activity android:name=".activity.Regis  <service
        <activity android:name=".activity.NotificationActivity"></activity>
                  <activity android:name=".activity.HoamActivity"></activity>
        <activity android:name=".activity.Regis  <service
            android:name=".service.DownloadDataServic
        <activity android:name=".activity.NotificationAct
        <activity android:name=".activity.NotificationActivity"></activity>d:name=".service.DownloadDataServic
        <activity android:name=".activity.NotificationAct
        <activity android:name=".activity.NotificationActivity"></activity>
        android:icon="@mipmap/ic_launcher"
                  and  <service
        <activity android:name=".activity.NotificationActivity"></activity>
                  <activity android:name=".activity.HoamActivity"></activity>
        <activity android:name=".activity.Regis  <service
        <activity android:name=".activity.NotificationActivity"></activity>
                  <activity android:name=".activity.HoamActivity"></activity>
        <activity android:name=".activity.Regis  <service
            android:name=".service.DownloadDataServic
        <activity android:name=".activity.NotificationAct
        <activity android:name=".activity.NotificationActivity"></activity>ndroid:name=".service.DownloadDataServic
        <activity android:name=".activity.NotificationAct
        <activity android:name=".activity.NotificationActivity"></activity>otificationActivity"></activity>
                  <activity android:name=".activity.HoamActivity"></activity>
        <activity android:name=".activity.Regis  <servicendr
        <activity android:name=".activity.NotificationActivity"></activity>
                  <activity android:name=".activity.HoamActivity"></activity>
        <activity android:name=".activity.Regis  <serviceoid.com/apk/res/android"
    package="easypadhai.cor
        <activity android:name=".activity.NotificationActivity"></activity>
                  <activity android:name=".activity.HoamAct
        <activity android:name=".activity.Notifd:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
                  and  <service
        <activity android:name=".activity.NotificationActivity"></activity>
                  <activity android:name=".activity.HoamActivity"></activity>
        <activity android:name=".activity.Regis  <service
        <activity android:name=".activity.NotificationActivity"></activity>
                  <activity android:name=".activity.HoamActivity"></activity>
        <activity android:name="d:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
                  and  <service
        <activity android:name=".activity.NotificationActivity"></activity>
                  <activity android:name=".activity.HoamActivity"></activity>
        <activity android:name=".activity.Regis  <service
        <activity android:name=".activity.NotificationActivity"></activity>
                  <activity android:name=".activity.HoamActivity"></activity>
        <activity android:name=".activity.Regis  <service
            android:name=".service.DownloadDataServic
        <activity android:name=".activity.NotificationAct
        <activity android:name=".activity.NotificationActivity"></activity>.activity.Regis  <service
            android:name=".service.DownloadDataServic
        <activity android:name=".activity.NotificationAct
        <activity android:name=".activity.NotificationActivity"></activity>icationActivity"></activity>
                  <activity android:name=".activity.HoamActivity"></activity>
        <activity android:name=".activity.Regis  <serviceivity"></activity>
        <activity android:name=".activity.Regis  <servic
        <activity android:name=".activity.NotificationActivity"></activity>
                  <activity android:name=".activity.HoamActivity"></activity>
        <activity android:name=".activity.Regis  <serviceee">

    <application
        androi
                  <activity android:name=".activity.HoamActivity"></activity>
        <activity android:name=".activity.Regis  <serviceivity"></activity>
                  <activity android:name=".activity.HoamActivity"></activity>
        <activity android:name=".activity.Regis  <servicee"
            android:enabled="true" />roid:label="@string/app_name"
        android:name=".application.EasyPadhaiApplication"
        android:supportsRtl="true"
        android:theme="@style/Ap  <service
            android:name=".service.DownloadDataService"
            android:enabled="true" />pTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                        <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Notificatio
        <activity android:name=".activity.Notificatio
        <activity android:name=".activity.NotificationActivity"></activity>
                  <activity android:name=".activity.HoamActivity"></activity>
        <activity android:name=".activity.Regis  <servicenActivity"></
        <activity android:name=".activity.NotificationActivity"></activity>
                  <activity android:name=".activity.HoamActivity"></activity>
        <activity android:name=".activity.Regis  <serviceactivity>
                  <activity android:name=".activity.HoamActivity"></activity>
        <activity android:name=".activity.Regis  <service
            android:name=".service.DownloadDataService"
            android:enabled="true" />terActivity"></activity>
               <activity android:name=".activity.{
               
               
        <activity android:name=".activity.NotificationActivity"></activity>
                  <activity android:name=".activity.HoamActivity"></activity>
        <activity android:name=".activity.Regis  <service
               }CategoryActivity"></activity>
       {
             <activity android:name=".activity.AnukamanikaActivity"></activity>
        <activity android:name=".activity.HowToBuyActivity"></activity>
        <activity android:name=".activity.Paym  <service
            android:name=".service.DownloadDataService"
            android:enabled="true" />entActivity"></activity>
       }
                                  <activity android:name=".activity.TestListActivity"></activity>
        <activity android:name=".activity.QuestionDetailType2Activity"></activity>
        <activity android:name=".activity.ArticleCategoryActivity"></activity>
        <activity android:name=".act  <service
            android:name=".service.DownloadDataService"
            android:enabled="true" />ivity.ArticleDetailActivity"></activity>
        <activity android:name=".activity.ArticleListActivity"></activity>
                <activity android:name=".activity.MainActivity"></activity>
        <activity android:name=".activity.TestQuestionDetailActivity"></activity>
    <service
            android:name=".service.DownloadDataService"
            android:enabled="true" />
        <activity android:name=".activity.PremiumActivity"></activity>
         <activity android:name=".activity  <service
            android:name=".service.DownloadDataService"
            android:enabled="true" />.LoginActivity"></activity>
                <activity android:name=".activity.QuestionListActivity"></activity>
        <activity android:name=".activity.QuestionDetailActivity"></activity>
        <activity android:name=".activity.SubcribtionActivity"></activity>
        <activity android:name=".activity.WhyBuyPremiumActivity"></activity>
      
    </application>

</manifest>